__pycache__/
.env
tests/
!app/tests/
qdrant_storage/
data/
.vscode/
frontend_admin/node_modules/
frontend_admin/dist/
!frontend_admin/tests/
frontend_client/node_modules/
frontend_client/dist/
legacy_frontend/
frontend_admin/package-lock.json
frontend_client/package-lock.json
.venv/
ignore/
.DS_Store